{"changed":false,"filter":false,"title":"requirements.txt","tooltip":"/etes/requirements.txt","value":"Flask==0.10.1\nPyMySQL==0.6.7\nFlask-SQLAlchemy==2.1\nFlask-Script==2.0.5\nFlask-WTF==0.12\nFlask-Migrate==1.6.0\npython-slugify==1.1.4\nFlask-Markdown==0.3\nFlask-Uploads==0.2.0\ngeopy==1.1.0\nuwsgi==2.0.15\nbcrypt\naddress\ngooglemaps\n","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":14,"column":0},"end":{"row":14,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1494363362258}