/*
sky-color: #9DE3F2
carbon-color: #A9A9A9
watermelon-color: #FF3B3F
neutral-color: #EFEFEF
*/



@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  }

body {
  font: 14px/22px "Lato", Arial, sans-serif;
  color: ##A9A9A9;
  background: #EFEFEF;
  padding: 100px 20px;
  height: 100%;
}

.header {
    padding: 0px 15px 15px 0px;
    text-align: center;
    font: 25px "Lato", Arial, sans-serif;
}

.lighter-text {
  color: #ABB0BE;
}

.main-color-text {
  color: #FF3B3F;
}

nav {
  padding: 20px 0 40px 0;
  background: white;
  font-size: 18px;
  border-bottom: 1px solid #FF3B3F;

  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
nav .navbar-left {
  float: left;
}
nav .navbar-right {
  float: right;
}
nav .navbar-left li a.active-page {
  color: #FF3B3F;
}
nav ul li {
  display: inline;
  padding-left: 20px;
}
nav ul li a {
  color: #777777;
  text-decoration: none;
}
nav ul li a:hover {
  color: black;
}

.container {
  margin: auto;
  width: 80%;
}

.core-container {
  margin: auto;
  width: 100%;
  position: absolute;
  z-index: -1;
}






/* Start Confirmation Page */

        
  form > div {
  position: relative;
  overflow: hidden;
  width:100%;
  max-width:320px;
  
}
form input {
  width: 100%;
  max-width:320px;
  border: 2px solid gray;
  background: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 12px;
  outline: 0;
}
form input:valid{
  background: white;
}
form input:focus{
  border-color:#80c0ff;
}
form input:focus + label{
    background:#80c0ff;
  color: white;
  font-size: 1em;
  padding: 1px 6px;
  z-index: 2;
  text-transform: uppercase;
}


form.go-right input:focus + label, form.go-right textarea:focus + label {
  right: 0;
  margin-right: 0;
  width: 40%;
  padding-top: 5px;
}
        img{
            max-width: 100%;
        }
        #wrap{
            width:80%;
            margin:20px auto;
            background:#FFF;
        }
        .column{
          width:30%;
            float:left;
            margin-right:2%;
            border-radius:10px;
            background:#fff;
        }
        .column3{
            margin-right:0;
            margin-left:0;
        }
        .number{
            width:50px;
            height:50px;
            background:#FF3B3F;
            color:#FFF;
            font-size:30px;
            text-align: center;
            border-radius:50%;
            float:left;
            padding-top:14px;
            margin-left:10px;
        }
        .step {
            width: 100%;
            height: auto;
            color: #FF3B3F;
            padding-left: 1%;
            padding-top: 20px;
            float: left;
            position: relative;
        }
        .step:after{
            content:'';
            width:80%;
            height:3px;
            background:#FF3B3F;
            position:absolute;
            bottom:0;
            right:0;
            border-top-left-radius:10px;
            border-bottom-left-radius:10px;
        }
        .title{
            float:left;
            width:70%;
            margin-left:3%;
            /*font-size:1.2em;*/
            font-weight:300;
            margin-top:-5px;
        }
        .title-main{
            float:left;
            width:70%;
            margin-left:3%;
            /*font-size:1.2em;*/
            margin-top:-5px;
            color: #A9A9A9;
        }
        .content{
            padding:2em 2em;
            width:100%;
            margin:0 auto;
            height:auto;
            display:block;
            float:left;
        }
        .content label{
            font-size:1.1em;
        }
        .content input{
            width:100%;
            padding:5px 10px;
            border:1px solid #ccc;
            border-radius:3px;
            display:inline-block;
            font-size: 1.1em;
        }
        .content button{
            display:block;
            float:none;
            margin:5px auto;
            background:#80c0ff;
            width:150px;
            border:0;
            padding:5px 15px;
            font-size:1.6em;
            color:#FFF;
            border-bottom:5px solid #4da7ff;
            border-radius:2px;
            clear:both;
        }
        .content .continue{
            display:block;
            float:none;
            background:#80c0ff;
            width:200px;
            border:0;
            padding:5px 15px;
            font-size:1.6em;
            color:#FFF;
            border-bottom:3px solid #4da7ff;
            border-radius:2px;
            clear:both;
            text-align:center;
            text-decoration: none;
            margin:15px auto;
        }
        #shipping,
        #email{
            border-bottom:1px dotted #ccc;
            padding-bottom:1em;
    }
        .select{
            width: 100%;
            max-width:320px;
            height: 35px;
            overflow: hidden;
            border: 1px solid #ccc;
            border-radius: 2px;
            display: inline-block;
            margin-top:5px; 
        }
    .state_options select,
        .country_options select{
            background: transparent;
            display:inline-block;
            width:100%;
            padding: 5px;
            font-size: 1.1em;
            line-height: 1;
            border: 0;
            border-radius:0;
            height: 40px;
        }
   #address .state_options label,
     #address .country_options label.country{
      right: 0;
      margin-right: 0;
      width: 40%;
      top:5px;
      bottom:3px;
      background:#80c0ff;
      color: white;
      font-size: 1em;
      padding: 4px 6px;
      z-index: 2;
      text-transform: uppercase;
    }
    #address input[type="checkbox"]{
            width:10%;
            float:left;
        }
        #address label.same,
    #address form input:focus + label.same{
    width:85%;
    float:left;
    margin-left:0;
    display:block;
    font-size:1.0em;
     padding:0;
     margin-bottom:15px;
     top:3px;
     right: 100%;
     margin-right:-100%;
     bottom: 0;
     background:transparent;
     color:initial;
     text-transform:uppercase;
     border-bottom-right-radius: 3px;
     border-top-right-radius: 3px;
        }
        #shipping input[type="radio"],
   #shipping input[type="radio"]:focus{
            width:30px;
        }
    #shipping label{
      padding:0;
      font-size:1em;
    }
        #shipping.price{
            display:inline-block;
        }
    #payment .expiry{
      margin-top:7px;
    }
        #payment label.exp_date{
          right: 0;
      margin-right: 0;
      width: 40%;
      top:7px;
      bottom:3px;
      background:#80c0ff;
      color: white;
      font-size: 1em;
      padding: 4px 6px;
      z-index: 2;
      text-transform: uppercase;
        }
        #payment .month_select,
        #payment .year_select{
            width: 38%;
            height: 40px;
       font-size:.em;
            overflow: hidden;
            border: 1px solid #ccc;
            border-radius: 2px;
            display: inline-block;
        }
        .month_select select,
        .year_select select{
            background: transparent;
            display:inline-block;
            width: 100%;
            padding: 5px;
            font-size: 1.0em;
            line-height: 1;
            border: 0;
            border-radius:0;
            height: 40px;
        }
        #payment .sec_num,
        #payment .expiry{
            display:block;
            float:left;
        }
        #payment .sec_num{
            width:100%;
            margin-top:5px;
     margin-bottom:15px;
        }
    .left{
            width:100%;
            float:left;
        }
        .accepted{
            width:100%;
            padding-right:1em;
            padding-left:1em;
            margin-top:30px;
        }
        .accepted span{
            display: table-cell;
            padding:3px;
        }
        .secured {
            margin-top:5px;
            padding-left:1em;
            padding-right:1em;
        }
        .secured .lock{
            float:left;
            padding:3px;
            width:20%;
            margin-top:10px;
        }
        .secured .security{
            float:left;
            margin-right:5px;
            font-style: italic;
            color:#aaa;
            width:70%;
            margin-bottom:20px;px;
        }
        .products{
            width:100%;
            float:left;
            padding-bottom:3px;
            border-bottom:2px solid #aaa;
        }
        .products .product_image{
            width:80%;
            float:left;
            margin-left: 10%;
        }
        .products .product_details{
            margin-top: 75px;
            margin-bottom: 5px;
            font-size: 1em;
            color:#aaa;
        }
        .products .product_details .product_name{
            width:100%;
            display: table;
            vertical-align: middle;
        }
        .products .product_details .product_venue{
            width:80%;
            display: table;
            vertical-align: middle;
        }
        .products .product_details .product_location{
            width:80%;
            display: table;
            vertical-align: middle;
            margin-bottom: 10px;
        }
        .totals{
            width:100%;
            float:left;
            border-bottom:2px solid #aaa;
            padding-bottom:5px;
        }
        .totals .subtitle{
            font-size:1.2em;
            display:block;
            text-align: right;
            color:#aaa;
            width:95%;
            margin-right:5%;
            margin-bottom: 5px;
            margin-top: 5px;
        }
        .totals .subtitle .sub_price{
            font-style:italic;
            width:100px;
        }
        .final{
            width:100%;
            float:left;
            font-size:1.4em;
            text-align: right;
            color:#888;
            margin-top: 10px;
        }
        .final .calculated_total{
            width:95%;
            margin-right:5%;
            font-weight:bold;
            margin-top:5px;
        }
        #reviewed .title{
            width:49%;
            font-size:1.3em;
            float:left;
        }
        #reviewed .billing{
            width:100%;
            float:left;
            margin-bottom:75px;
            margin-top:20px;
        }
        #reviewed .shipping{
            width:100%;
            float:left;
            margin-top:10px;
        }
        #reviewed .payment{
            width:100%;
            float:left;
        }
        #reviewed .billing .address_reviewed,
        #reviewed .shipping .address_reviewed,
        #reviewed .payment .payment_reviewed{
            color:#aaa;
            font-size:1.2em;
            height:80px;
            width:48%;
            float:left;
        }
        #reviewed .billing .address_reviewed span{
            display:block;
        }
        span.method{
            display:block;
        }
        #reviewed #complete{
            float:left;
            width:100%;
            padding-top:5px;
            border-top:1px dotted #aaa;
        }
        #reviewed .big_button{
            clear:both;
            display:block;
            width:70%;
            margin:0 auto;
            padding-top:15px;
            padding-bottom:10px;
            color:#fff;
            font-size:1.9em;
            text-decoration: none;
            background:#FF3B3F;
            text-align:center;
            margin-bottom:20px;
            margin-top:20px;
        }
        #reviewed #complete .sub{
            color:#aaa;
            display:block;
            text-align:center;
            margin-top:15px;
            width:80%;
            margin:5px auto;
        }
@media(max-width:768px){
  .column{
    width:49%;
  }
  .column2{
    margin-right:0;
  }
  .column3{
    width:1001%;
    margin-top:30px;
}
@media(max-width:600px){
  .column{
    width:100%;
    margin:0;
    margin-top:30px;
}
}
  form > div {
  position: relative;
  overflow: hidden;
  width:100%;
  max-width:320px;
  
}
form input, form textarea {
  width: 100%;
  max-width:320px;
  border: 2px solid gray;
  background: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 12px;
  outline: 0;
}
form input:valid, form textarea:valid {
  background: white;
}
form input:focus, form textarea:focus {
  border-color: #f06d06;
}
form input:focus + label, form textarea:focus + label {
    background:#80c0ff;
  color: white;
  font-size: 70%;
  padding: 1px 6px;
  z-index: 2;
  text-transform: uppercase;
}
form label {
  transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
  position: absolute;
  color: #999;
  padding: 7px 6px;
}
form textarea {
  display: block;
  resize: vertical;
}

form.go-right label {
  top: 2px;
  right: 100%;
  width: 100%;
  margin-right: -100%;
  bottom: 2px;
  border-bottom-right-radius:3px;
  border-top-right-radius:3px;
}
form.go-right input:focus + label, form.go-right textarea:focus + label {
  right: 0;
  margin-right: 0;
  width: 40%;
  padding-top: 5px;
}


/* End Confirmation Page */
